  <div class="well text-center top5">
  <h1 class="title">Edit Profile</h1>
  <%= image.label :upload_image %><br>
	<%= image.file_field :image %><br>
	<%= image.label :remove_image %><br>
  <div class = "buffer5"
  <%= image.check_box :remove_image %><br>
  </div>
  <div class = "buffer5">
  <%= image.submit %>
  <div><br>
  </div>
