

  <div class="col-sm-6 well text-center">
    <h1 class = "well"> Profile<br> 
  <%= image_tag @user.profile.thumb.url if @user.profile? %></h1><br>
		<p>Name: </p><%= @user.first_name %>
		<%= @user.last_name %><br>
		<p>Email: </p><%= @user.email %><br>

    
    <%= form_for @user do |profile| %>
  <h1>Edit Profile</h1>
  <%= profile.label :upload_profile %><br>
  <%= profile.file_field :profile %><br>

  <%= profile.label :remove_profile %><br>
  <%= profile.check_box :remove_profile %><br>
  <%= profile.submit %>
     <% end %>
 </div>

