<div class="container1">

    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="thumbnail">

                <div class="text-field">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: "form-control" %>
                </div>

                <div class="text-field">
                    <%= form.label :link %>
                    <%= form.text_area :link, class: "form-control" %>

                    <div class="file-field">
                        <%= form.label :image %>
                        <%= form.file_field :image, class: "form-control" %>
                    </div>
                    <br>
                    <div class="submit-field">
                        <%= form.submit %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p><%=link_to "Home", users_path(current_user)%><br>
        <%=link_to "Index", root_path%></p>

</div>
</div>
