<%= form_for @place do |form| %>
<div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
</div>

<div class="text-field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>

    <div class="text-field">
        <%= form.label :kind %>
        <%= form.text_area :kind, class: "form-control" %>
    </div>

    <div class="number-field">
        <%= form.label :difficulty %>
        <%= form.number_field :difficulty, in: 1...4, value: 1, class: "form-control" %>
    </div>

    <div class="text-field">
        <%= form.label :country %>
        <%= form.text_area :country, class: "form-control" %>
    </div>

    <div class="text-field">
        <%= form.label :city %>
        <%= form.text_area :city, class: "form-control" %>
    </div>

    <div class="text-field">
        <%= form.label "street number, street name, and zip code" %>
        <%= form.text_area :address, class: "form-control" %>
    </div>

    <div class="file-field">
        <%= form.label :image %>
        <%= form.file_field :image, multiple: true, class: "form-control" %>
    </div>

    <div class="submit-field">
        <%= form.submit %>
    </div>
    <% end %>
