<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<style>
.title {
font-family: 'Julius Sans One', sans-serif;
}

</style>

<div class ="container">
	<div class="row">
	 	<p><%=link_to "Home", users_path(current_user)%> </p>
      	<div class="col-sm-1">
      	</div>
      	<div class="col-sm-10">
      	<h1 class="text-center title"> Get moving </h1>
      			<%= form_tag places_path, :method => 'get' do %>
	  				<%= text_field_tag :query, params[:query] %>
	  				<%= submit_tag "Search", :name => nil %>
	 					<% end %>
	      <% @places.each do |place| %>
				<%= link_to place_path(place) do%>
				<%=image_tag place.image[0].thumb.url %>
				<% end %> 
				<% end %>
	      </div>
      <div class="col-sm-1">
    </div>
  </div>
</div>
