


<div class ="container">
	<div class="row">
      	<div class="col-sm-1">
      	</div>
      	<div class="col-sm-10">
      	<h1 class="text-center font">
      			<%= form_tag places_path, :method => 'get' do %>
	  				<%= text_field_tag :query, params[:query] %>
	  				<%= submit_tag "Get moving", :name => nil %>
	 					<% end %></h1>
	      <% @places.each do |place| %>
				<%= link_to place_path(place) do%>
				<p class="padding"><%=image_tag place.image[0].thumb.url %></p>
				<% end %> 
				<% end %>
	      </div>
      <div class="col-sm-1">
    </div>
  </div>

<div class="other-links">
  <p><%=link_to "Home", user_path(current_user)%>
      <%=link_to "Index", places_path%></p>
</div>
