<d<div class="thumbnail">
<div class="container-fluid">
	<div class ="row">
		<div class="col-sm-1">
  	</div>
  	<div class="col-sm-10 title inline">
  	<div class="container">
			<h1><div id="mean_rate"><%= @place.name %> <br></h1></div><br>
			Difficulty: <%= @place.difficulty %><br>
			Description: <%= @place.description %><br>
			Kind: <%= @place.kind %><br>
			Address: <%= @place.address %><br>
			City: <%= @place.city %><br>
			Country: <%= @place.country %></p><br>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

<div class ="row">
		<div class="col-sm-1">
		</div>
  	<div class="col-sm-5 title">
			<div id = "carouselExampleIndicators" class= "carousel slide" data-ride= "carousel">
		   <!-- Wrapper for slides -->
	  	  <div class="carousel-inner", style="width: 500px;">
			  	<% @place.image.each do |image| %>
			   	<div class="item">
			   	<%= image_tag image.medium.url if @place.image? %>
			    </div>
		  <!-- Controls -->
			  	<a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="	prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			   	</a>
			   	<a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  	</a>
	  			<% end %>
				</div>
			</div>
		</div>


		<%= link_to "https://www.google.com/maps/dir/#{@place.latitude},#{@place.longitude}/" do %>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?markers=#{@place.latitude}%2C#{@place.longitude}&zoom=15&scale=false&size=497x367&maptype=roadmap&format=png&visual_refresh=true&key=AIzaSyDnPc5_WXJDR79lWO4ATMmBjEpBYslx3u8" %>
		<% end %>

		<% if current_user %>
		   <p><%=link_to "Update", edit_place_path(@place) %>
		</p>
		<% else %>
		<%= link_to t(".sign_up"), sign_up_path %>
		<%end%>
</div>

<div class="container text-center">
	<div class="row">
  <div class="col-xs-12">
    <% if @place_reviews.count < 1 %>
      <h4>No reviews yet. Submit the first review now!</h4>
    <% elsif @place_reviews.count == 1 %>
		<h4 style="text-align: center;"><strong>Reviews for this place: </strong></h4>
      <div class="reviews">
        <% @place_reviews.each do |x| %>
          <div class='panel'>
            <div class="container" id="panel_container">
              <div class='panel'>
                <div class="container" style="margin-left: auto; margin-right: auto;">
                    <div class="row">
                     <div class="col-lg-6" style="right: 15px; bottom: 10px;">
                        <div class="well" style=" height: 200px; width: 550px; margin-left: auto; margin-right: auto;">
                          <div class="col-sm-3">
                            <div style="width: 110px; height: auto;">
                            </div> <!-- closing for review dp -->
                          </div> <!-- closing for col sm 3 -->
                          <div class="col-sm-7">
                            <strong><div id="u_mean_<%= x.id %>">Overall rating: </div></strong>
                            <div id="u_gen_<%= x.id %>">Awesomeness: </div>
                            <div id="u_safe_<%= x.id %>">Safetyness: </div>
                            <div id="u_clean_<%= x.id %>">Cleanliness: </div>
                            <div id="u_scenery_<%= x.id %>">Scenery: </div>
                            <p style="margin-left: 10px;"><%= x.desc_general %>  •  <%= x.desc_safe %>  •  <%= x.desc_clean %>  •  <%= x.desc_scenery %></p>
                          </div> <!-- closing for col-sm-7 -->
                        </div> <!-- closing for well -->
                      </div> <!-- closing for col lg 6 --> 
                    </div> <!-- closing for row -->
                  </div> <!-- closing for container -->
                </div> <!-- closing for panel -->
            
           <!-- JS for existing reviews(single reviews) -->
          <script>
          $('#u_mean_<%= x.id %>').raty({
            readOnly:   true,
            starHalf:   'star-half.png',
            start:      <%= avg_user_rating(x) %>,
          });

          $('#u_gen_<%= x.id %>').raty({
            readOnly:   true,
            start:      <%= x.rate_general %>,
          });

          $('#u_safe_<%= x.id %>').raty({
            readOnly:   true,
            start:      <%= x.rate_safe %>,
          });

          $('#u_clean_<%= x.id %>').raty({
            readOnly:   true,
            start:      <%= x.rate_clean %>,
          });

          $('#u_scenery_<%= x.id %>').raty({
            readOnly:   true,
            start:      <%= x.rate_scenery %>,
          });
          </script>
        <% end %> <!-- end for do x -->

    <% elsif @place_reviews.count > 1 %>
    <h4 style="text-align: center;"><strong>Reviews for this place: </strong></h4>
    <div class="reviews text-center">
      <% @place_reviews.all.order(created_at: :desc).each do |y| %>
        <div class="container" id="panel_container">
          <div class='panel'>
            <div class="container">
                <div class="row">
                  <div class="col-lg-6" style="right: 15px; bottom: 10px;">
                    <div class="well" style=" height: 200px; width: 550px;">
                      <div class="col-sm-3">
                        <div style="width: 110px; height: auto;">
                          <%= image_tag("runner-dp.png", style: "width: 100px; height: 100px") %>
                        </div> <!-- closing for review dp -->
                      </div> <!-- closing for col sm 3 -->
                      <div class="col-sm-7">
                        <strong><div id="u_mean_<%= y.id %>">Overall rating: </div></strong>
                        <div id="u_gen_<%= y.id %>">Awesomeness: </div>
                        <div id="u_safe_<%= y.id %>">Safetyness: </div>
                        <div id="u_clean_<%= y.id %>">Cleanliness: </div>
                        <div id="u_scenery_<%= y.id %>">Scenery: </div>
                        <p style="margin-left: 10px;"><%= y.desc_general %>  •  <%= y.desc_safe %>  •  <%= y.desc_clean %>  •  <%= y.desc_scenery %></p>
                      </div> <!-- closing for col-sm-7 -->
                    </div> <!-- closing for well -->
                  </div> <!-- closing for col lg 6 --> 
                </div> <!-- closing for row -->
              </div> <!-- closing for container -->
            </div> <!-- closing for panel -->
    
     <!-- JS for (multiple reviews) -->
        <script>
        $('#u_mean_<%= y.id %>').raty({
            readOnly:   true,
            starHalf:   'star-half.png',
            start:      <%= avg_user_rating(y) %>,
          });

        $('#u_gen_<%= y.id %>').raty({
          readOnly:   true,
          start:      <%= y.rate_general %>,
        });

        $('#u_safe_<%= y.id %>').raty({
          readOnly:   true,
          start:      <%= y.rate_safe %>,
        });

        $('#u_clean_<%= y.id %>').raty({
          readOnly:   true,
          start:      <%= y.rate_clean %>,
        });

        $('#u_scenery_<%= y.id %>').raty({
          readOnly:   true,
          start:      <%= y.rate_scenery %>,
        });
        </script>
      <% end %> <!-- end for do |y| -->
    </div>   <!-- closing div for 'reviews' -->
  <% end %>   <!-- end for elsif -->
  </div> <!-- end of col-xs-12-->
  </div> <!-- end of row-->
</div> <!-- end of container-->

<!-- reviews#new / reviews#create -->
<div class="container text-center">
	Ran here before? Write your review for this place!
	<%= form_for [@place, @new_review] do |f| %>
	<span>
	    <div id="general" style="display: inline;">Awesomeness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_general, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="safe" style="display: inline;">Safetyness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_safe, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="clean" style="display: inline;">Cleanliness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_clean, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="scenery" style="display: inline;">Scenery:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_scenery, placeholder: "Elaborate your rating here" %>
	</span><br>
	<br>
		<% if current_user == nil %>
			<%= link_to "Log in to submit your rating!", sign_in_path %>
		<% else %>
			<%= f.submit value: "Submit my rating!" %>
		<% end %>
	<% end %>

	<% if current_user %>
	<p><%=link_to "Home", users_path(current_user)%>
	  <%=link_to "Index", places_path%>
	  <%=link_to "Update", edit_place_path(@place) %>
	</p>
	<% else %>
	  <%= link_to t(".sign_up"), sign_up_path %>
	<% end %>

	<!-- JS for star ratings -->
	<script>
	$('#general').raty({
		start:     2,
	  scoreName: 'review[rate_general]',
	});

	$('#safe').raty({
	  start:     2,
	  scoreName: 'review[rate_safe]',
	});

	$('#clean').raty({
	  start:     2,
	  scoreName: 'review[rate_clean]',
	});

	$('#scenery').raty({
	  start:     2,
	  scoreName: 'review[rate_scenery]',
	});


	$('#mean_rate').raty({
	  half:       true,
	  start:   		<%= avg_place_rating(@place) %>,
	  readOnly:   true,
	  starHalf:   'star-half-big.png',
	  starOff:    'star-off-big.png',
	  starOn:     'star-on-big.png'
	});
	</script>
</div>
</div>

