<hr>

<div class="container-fluid">
	<div class ="row">
		<div class="col-sm-1">
  	</div>
  	<div class="col-sm-10 title inline">
  	<div class="container">
			<h1><div id="mean_rate"><%= @place.name %> <br></h1></div><br>
			Difficulty: <%= @place.difficulty %><br>
			Description: <%= @place.description %><br>
			Kind: <%= @place.kind %><br>
			Address: <%= @place.address %><br>
			City: <%= @place.city %><br>
			Country: <%= @place.country %></p><br>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

<div class ="row">
		<div class="col-sm-1">
		</div>
  	<div class="col-sm-5 title">
			<div id = "carouselExampleIndicators" class= "carousel slide" data-ride= "carousel">
		   <!-- Wrapper for slides -->
	  	  <div class="carousel-inner", style="width: 500px;">
			  	<% @place.image.each do |image| %>
			   	<div class="item">
			   	<%= image_tag image.medium.url if @place.image? %>
			    </div>
		  <!-- Controls -->
			  	<a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="	prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			   	</a>
			   	<a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  	</a>
	  			<% end %>
				</div>
			</div>
		</div>


		<%= link_to "https://www.google.com/maps/dir/#{@place.latitude},#{@place.longitude}/" do %>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?markers=#{@place.latitude}%2C#{@place.longitude}&zoom=15&scale=false&size=497x367&maptype=roadmap&format=png&visual_refresh=true" %>
		<% end %>

		<% if current_user %>
		<p><%=link_to "Home", users_path(current_user)%>
		    <%=link_to "Index", places_path%>
		    <%=link_to "Update", edit_place_path(@place) %>
		</p>
		<% else %>
		<%= link_to t(".sign_up"), sign_up_path %>
		<%end%>
</div>

<div class="container">
	<div>
		<h4><strong>What others think of this place: </strong></h4>
		<% if @place_reviews.count < 1 %>
			<h4>No reviews yet. Submit the first review now!</h4>
		<% elsif @place_reviews.count == 1 %>
			<div>
			<% @place_reviews.each do |x| %>
				<div id="u_mean_<%= x.id %>"><strong><%= x.user.username %></strong>: </div><br>
				<div id="u_gen_<%= x.id %>">Awesomeness: </div>
				<p><%= x.desc_general %></p>
				
				<div id="u_safe_<%= x.id %>">Safetyness: </div>
				<p><%= x.desc_safe %></p>
				
				<div id="u_clean_<%= x.id %>">Cleanliness: </div>
				<p><%= x.desc_clean %></p>
				
				<div id="u_scenery_<%= x.id %>">Scenery: </div>
				<p><%= x.desc_scenery %></p>
				<hr>
			</div>
	<!-- JS for existing reviews(single reviews) -->
			<script>
			$('#u_mean_<%= x.id %>').raty({
			  readOnly:   true,
			  starHalf:		'star-half.png',
				start:   		<%= avg_user_rating(x) %>,
			});

			$('#u_gen_<%= x.id %>').raty({
			  readOnly:   true,
				start:   		<%= x.rate_general %>,
			});

			$('#u_safe_<%= x.id %>').raty({
			  readOnly:   true,
				start:   		<%= x.rate_safe %>,
			});

			$('#u_clean_<%= x.id %>').raty({
			  readOnly:   true,
				start:   		<%= x.rate_clean %>,
			});

			$('#u_scenery_<%= x.id %>').raty({
			  readOnly:   true,
				start:   		<%= x.rate_scenery %>,
			});
			</script>
		<% end %>
		</div>
	</div>

<% elsif @place_reviews.count > 1 %>
<div>
	<% @place_reviews.all.order(created_at: :desc).each do |y| %>
	<div id="u_mean_<%= y.id %>"><strong><%= y.user.username %></strong>: </div><br>
		<div id="u_gen_<%= y.id %>">Awesomeness: </div>
		<p><%= y.desc_general %></p><br>
		<div id="u_safe_<%= y.id %>">Safetyness: </div>
		<p><%= y.desc_safe %></p><br>
		<div id="u_clean_<%= y.id %>">Cleanliness: </div>
		<p><%= y.desc_clean %></p><br>
		<div id="u_scenery_<%= y.id %>">Scenery: </div>
		<p><%= y.desc_scenery %></p><br>
		<hr>
</div>
		
 <!-- JS for eyisting reviews(multiple reviews) -->
		<script>
		$('#u_gen_<%= y.id %>').raty({
		  readOnly:   true,
			start:   		<%= y.rate_general %>,
		});

		$('#u_safe_<%= y.id %>').raty({
		  readOnly:   true,
			start:   		<%= y.rate_safe %>,
		});

		$('#u_clean_<%= y.id %>').raty({
		  readOnly:   true,
			start:   		<%= y.rate_clean %>,
		});

		$('#u_scenery_<%= y.id %>').raty({
		  readOnly:   true,
			start:   		<%= y.rate_scenery %>,
		});
		</script>

	<% end %>	
<% end %>

<!-- reviews#new / reviews#create -->
<div class="container">
	Ran here before? Write your review for this place!
	<%= form_for [@place, @new_review] do |f| %>
	<span>
	    <div id="general" style="display: inline;">Awesomeness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_general, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="safe" style="display: inline;">Safetyness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_safe, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="clean" style="display: inline;">Cleanliness:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_clean, placeholder: "Elaborate your rating here" %>
	</span><br>

	<span>
	    <div id="scenery" style="display: inline;">Scenery:<br></div>
	</span>
	<span>
	    <%= f.text_field :desc_scenery, placeholder: "Elaborate your rating here" %>
	</span><br>
	<br>
		<% if current_user == nil %>
			<%= link_to "Log in to submit your rating!", sign_in_path %>
		<% else %>
			<%= f.submit value: "Submit my rating!" %>
		<% end %>
	<% end %>

	<% if current_user %>
	<p><%=link_to "Home", users_path(current_user)%>
	  <%=link_to "Index", places_path%>
	  <%=link_to "Update", edit_place_path(@place) %>
	</p>
	<% else %>
	  <%= link_to t(".sign_up"), sign_up_path %>
	<% end %>

	<!-- JS for star ratings -->
	<script>
	$('#general').raty({
		start:     2,
	  scoreName: 'review[rate_general]', 
	});

	$('#safe').raty({
	  start:     2,
	  scoreName: 'review[rate_safe]', 
	});

	$('#clean').raty({
	  start:     2,
	  scoreName: 'review[rate_clean]', 
	});

	$('#scenery').raty({
	  start:     2,
	  scoreName: 'review[rate_scenery]', 
	});


	$('#mean_rate').raty({
	  half:       true,
	  start:   		<%= avg_place_rating(@place) %>,
	  readOnly:   true,
	  starHalf:   'star-half-big.png',
	  starOff:    'star-off-big.png',
	  starOn:     'star-on-big.png'
	});
	</script>
</div>